<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!--以下为内置标签 内置标签还有很多,包括include-->
<!--import-->
<import file="js.bootstrap" type="js"/>

<!--load-->
<load href="__PUBLIC__/js/jquery.js"/>

<!--css-->
<css href="__PUBLIC__/css/bootstrap.css"/>

<!--js-->
<js href="__PUBLIC__/js/bootstrap.js"/>